/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
}

p {
    margin: 0 0 20px;
    font-size: 1.128em;
    line-height: 1.6em;
}

p.lead {
    font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(33,33,33,.3);

}

.navbar-brand {
    height: 40px;
    padding: 10px 15px;
    line-height: 1em;
}

.navbar-brand:focus {
    outline: 0;
}

#neutrinet-logo {
    margin-top: 2px;	
    height: 26px;
    max-width: 100px;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.0);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}

/* Dynamic SVG CSS styling is so hot */
.navbar-custom.top-nav-collapse #Layer_1 {
    fill: #333;
}

.navbar-custom ul.nav li a {
    font-size: 0.86em;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #333;
}

.navbar-custom ul.nav ul.dropdown-menu {
      border-radius: 0;
}

.navbar-custom ul.nav ul.dropdown-menu li {
    border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
    border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
    padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
    background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
    color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(200,200,200,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 0.8750em;
    color: #333;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
    z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}

/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 80px;
    padding-bottom: 60px;
    display:block;
    position:relative;
    z-index:120;
}


.section-heading h2 {
    font-size: 2.85em;
}
.section-heading i {
    margin-bottom: 20px;
}


/* --- section bg var --- */

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f8f8f8;
}


.bg-dark {
    background: #575757;
}

/* --- section color var --- */

.text-light {
    color: #fff;
}

.citation {
    padding-left: 12%;
    padding-right: 12%;
}

.citation blockquote {
    font-size: 1.575em;
    text-align: left;
    text-indent: 15px;
    font-style: italic;
    font-family: "Helvetica Neue",Helvetica,Arialself,sans-serif;
    color: #9A9A9A;
}

.under-citation {
    text-align: right;
    padding-right: 12%;
}


/* ===========================
--- Big fat
============================ */

.bigfat {
    width:100%;
    position:relative;

    background: url(../img/cat.jpg) no-repeat top center;
}

section.bigfat {
    padding:20% 0 0 0;
}

.bigfat .slogan {
    text-align: center;

}

.bigfat .page-scroll {
    text-align: center;
}

.bigfat-text {
    font-size: 1.125em;
}

.bigfat .slogan h2 {
    color: #FFF;
    text-shadow: none;
    font-size: 4.25em;
    line-height: 60px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
    text-shadow: -1px 0 3px #000;
}

.bigfat .slogan h3 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
}

.bigfat .slogan h4 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
}

.bigfat .slogan h5 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
}



/* ===========================
--- Intro
============================ */

.intro {
    background: url(../img/cats.jpg) no-repeat top center;
    background-size: cover;
}

#intro {
    min-height: 250px;
}

/* ===========================
--- ffdn
============================ */

.ffdn {
    background: url(../img/ffdn.png) no-repeat center center;
    background-size: contain;
}

#ffdn-text {
    padding:03% 0 0 0;
}

#ffdn {
    min-height: 16em;
}

.ffdn-text .slogan h3 {
    font-size: 2.31em;
    text-transform: none;
    text-align: center;
}

.ffdn-text .slogan h4 {
    text-transform: none;
    text-align: center;
    margin-bottom: 0;
}

/* ===========================
--- FriteDomBox
============================ */

.fritedombox {
    background: url(../img/the-internet.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;
    padding: 0;
}

#fritedombox.fritedombox {
    padding-top: 10%;
    padding-bottom: 5%;
}

.fritedombox-friends {
    padding-top: 5%;
}

.black-title {
    padding: 20px 0;
    background: rgba(0,0,0,0.7);
}

div.black-title a {
    text-decoration: underline;
}

.fritedombox .slogan h2 {
    color: #FFF;
    text-shadow: none;
    font-size: 4.25em;
    line-height: 60px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
    text-shadow: -1px 0 3px #000;
}

.fritedombox .slogan h3 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
}

.fritedombox-friends h5 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
    margin-bottom: 10px;
}

.fritedombox-friends h6 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
    margin-top: 10px;
    margin-bottom: 0;
}

/* ===========================
--- VPN
============================ */

.vpn .slogan h3 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
    text-align: center;
}

.vpn {
    background: url(../img/trapped.jpg) no-repeat top center;
    background-size: cover;
    padding-top: 260px;
    padding-bottom: 5%;
}

.vpn .vpn-title {
    margin-top: -157px;
    color: rgba(0,0,0,0.7);
    text-align: center;
    font-size: 150px;
    letter-spacing: -10px;
}

.vpn .vpn-line1 {
    color: #eee;
    padding: 120px 0 0;
    text-align: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.vpn .vpn-line2 {
    color: #eee;
    padding: 60px 0 0;
    text-align: right;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.vpn .solution {
    padding-top: 70px;
    color: #729FCF;
}

.vpn-promotion {
    padding-top: 40px;
    padding-left: 25%;
    padding-right: 25%;
}

.slogan .vpn-promotion .boxed-grey {
    color: #333;
    background: rgba(255,255,255,0.8);
    text-shadow: 0px 0px 0px;
    text-transform: none;
    letter-spacing: -0.1px;
}

.slogan .vpn-promotion .boxed-grey small {
    color: #777;
    text-shadow: none;
}

.boxed-grey span.invert,
.black-title span.invert {
    border-bottom: dashed 2px #555;
}

.boxed-grey {
    line-height: 1.5;
}


/* ===========================
--- meetings
============================ */

.meetings {
    background: url(../img/pinguines.jpg) no-repeat top center;
    background-size: cover;
}

#meetings {
    margin: 0;
}

#meetings.meetings {
    padding-top: 80px;
}

.meetings {
    color: #fff;
    margin-top: 10px;
}

.meetings h3 {
    text-transform: none;
    letter-spacing: 0px;
    font-size: 2.15em;
}

.meeting {
    background-color: #F9F9F9;
    color: #666;
    border: solid #666 1px;
    font-weight: 400;
}

/* ===========================
--- become a member
============================ */

.howtobecomeamember .blabla {
    margin-top: 15px;
    text-align: left;
}

.bank {
    padding: 8px;
    background-color: #F3F3F3;
    color: #666;
    border: solid #999 1px;
    font-weight: 400;
}

.howtobecomeamember .details {
    font-weight: 400;
    text-indent: 15px;
}

.howtobecomeamember .details li {
    text-indent: 0px;
    font-size: 1.128em;
}

.bank h4 {
    margin-bottom: 15px;
}

.bank p {
    margin-bottom: 0px;
    font-size: 1em;
}

/* ===========================
--- diyisp
============================ */

.diyisp {
    background: url(../img/diyisp.png) no-repeat top center;
    background-size: cover;
}

#diyisp.diyisp {
    padding: 0 0 0 0;
}

#diyisp {
    min-height: 250px;
}

.diyisp .slogan {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.diyisp .slogan h3 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
    font-size: 2.7125em;
}


.diyisp .slogan h4 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
}


/* ===========================
--- panda
============================ */

.panda {
    background: url(../img/panda.jpg) no-repeat top center;
    background-size: cover;
}

#panda.panda {
    padding: 0 0 0 0;
}

#panda {
    min-height: 250px;
}

.panda .slogan {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.panda .slogan h3 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
    font-size: 2.375em;
}


.panda .slogan h4 {
    color: #fff;
    text-shadow: -1px 1px 3px #000;
}


/* ===========================
--- Get involved
============================ */

.getinvolved h2 {
    text-transform: none;
}

.getinvolved h3 {
    text-transform: none;
}

.getinvolved h4 {
    text-transform: none;
}

.getinvolved h5 {
    text-transform: none;
}

.getinvolved-links a {
    color: #333;
    background-color: #EEE;
    border-color: #333;
    text-decoration: none;
}

.getinvolved-links a:hover {
    color: #FEFEFE;
    background-color: #777;
}

.service-icon {
    font-size: 3em;
}

/* ===========================
--- About
============================ */

.boxed-grey {
    background: #f9f9f9;
    padding: 20px;
}

.team h5 {
    margin-bottom: 10px;
}

.team p.subtitle {
    margin-bottom: 10px;
}

.avatar {
    margin-bottom: 20px;
}

.team-social {
    margin-left: 0;
    padding-left: 0;

}

.team-social {
    text-align: center;
}

.team-social li{
    display: inline-block;
    margin:0 !important;
    padding:0;
}


.team-social a{
    margin:0;
    padding:0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i{
    text-align: center;
    margin:0;
    padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}


/* ===========================
--- Services
============================ */

.service-icon {
    margin-bottom: 20px;
}



/* ===========================
--- Contact
============================ */

form#contact-form .form-group label {
    text-align: left !important;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.750em;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
    border-radius: 0;
    border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
    text-align: left;
}


.company-social {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

.company-social {
    text-align: left;
}

.company-social li{
    display: inline-block;
    margin:0 !important;
    padding:0;
}


.company-social a{
    margin:0;
    padding:0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
    text-align: center;
    margin:0;
    padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}



/* ===========================
--- Footer
============================ */

section.footer {
    text-align: center;
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid rgb(33,33,33);
}

section.footer small {
    color: #333;
}

section.footer a {
    color: #333;
    font-weight: bold;
}
section.footer a:hover {
    color: orange;
}

/* ==========================
Parallax
============================= */

#parallax1{
    background-image: url(../img/parallax/1.jpg);
}

#parallax1:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.7;
    z-index: -1;
}


#parallax2{
    background-image: url(../img/parallax/2.jpg);

}

#parallax2:after  {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.7;
    z-index: -1;
}


/* ===========================
--- Elements
============================ */

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #333;
    border-radius: 50%;
    font-size: 2.5em;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    background: #fff;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
    color: #999;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


#text {
    color: #fff;
    background: #ffcc00;
}

#map {
    height: 500px;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 1.625em;
}

.banner-social-buttons {
    margin-top: 0;
}


/* Media queries */

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        color: #eee;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(33,33,33,.3);
    }

    .bigfat {
        height: 100%;
        padding: 0;
    }

    .ffdn {
        padding: 0;
    }

    .meetings {
        padding: 0;
    }

    .fritedombox {
        padding: 0;
    }

    .brand-heading {
        font-size: 6.250em;
    }


    .intro-text {
        font-size: 1.563em;
    }

}
@media (max-width:768px) {

    .team.boxed-grey {
        margin-bottom: 30px;
    }

    .boxed-grey {
        margin-bottom: 30px;
    }


}

@media (max-width:480px) {

    .navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
    }

    .navbar.navbar-custom.navbar-fixed-top {
        margin-bottom: 30px;
    }

    .tp-banner-container {
        padding-top:40px;
    }

    .page-scroll a.btn-circle {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        padding: 7px 0;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 1.250em;
    }

}
